[Unit]
Description=Flask Web Service
After=network.target

[Service]
User=inemar
WorkingDirectory=/usr/local/wandtrockner/active/active/flask
ExecStart=python webapp.py
Restart=always

[Install]
WantedBy=multi-user.target

